<div class="container p-4">
  <div class="d-flex justify-content-around mb-4">
    <h2 class="text-center">Lista de tareas</h2>
    <a class="btn btn-primary d-flex justify-content-center align-items-center" style="gap: 10px;"
      routerLink="/tareas/formulario"><i class="fa-solid fa-plus"></i> Tarea nueva</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Descripción</th>
          <th scope="col">Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
      </tbody>
    </table>
  </div>
</div>
